<a name="about"></a>
<div class="about">
  <div class="about__title-container">
    <p class="about__subtitle">tradition and love</p>
    <h1 class="about__title">how it's made</h1>
  </div>
  <div class="about__content">
    <div class="about__cow-imagetext">
      <div class="about__images">

      </div>
      <div class="about__text-container">
        <p class="about__description">
          Experience the Delight of Homemade Ice Cream.</p>
          <p class="about__description">
Crafting homemade ice cream with fresh milk transforms your dessert into a creamy delight. 
        </p>
        <p class="about__depiction">
          Using high-quality, fresh milk ensures a rich flavor and smooth texture. Each batch allows you to experiment with flavors and enjoy a wholesome treat free from artificial additives.
        </p>
        <p class="about__depiction">Try it yourself – fresh milk makes all the difference!</p>
        <button class="about__button" type="button">
          Read more
          <svg class="about__icon" width="12" height="12">
            <use href="./images/sprite.svg#icon-arrow-right2"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</div>
