<div class="contacts">
  <a name="contacts"></a>
  <div class="contacts__hidden"><h1>Contacts</h1></div>
  <div class="contacts__container">
    <form class="contacts__form">
      <p class="contacts__cafe contacts__block">CAFE</p>
      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Chicago</label>
        <p>Join us at our café for delightful coffee and cozy atmosphere!</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Monday - Friday</label>
        <p class="contacts__opening-hours">06:00 AM - 10:00 PM</p>
        <label class="contacts__label" for="name">Saturday - Sunday</label>
        <p class="contacts__opening-hours">08:00 AM - 16:00 PM</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <ul>
          <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </fieldset>
    </form>
    <form class="contacts__form">
      <p class="contacts__food-truck contacts__block">FOOD TRUCK</p>
      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Los Angeles</label>
        <p>Come visit our food truck for delicious bites and fresh flavors on the go!</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Monday - Friday</label>
        <p class="contacts__opening-hours">06:00 AM - 10:00 PM</p>
        <label class="contacts__label" for="name">Saturday - Sunday</label>
        <p class="contacts__opening-hours">08:00 AM - 16:00 PM</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <ul>
          <li><a href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li><a href="mailto:noreply@envato.com">noreply@envato.com</a></li>
        </ul>
      </fieldset>
    </form>
    <form class="contacts__form">
      <p class="contacts__cafe contacts__block">CAFE</p>
      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">New York</label>
        <p>Join us at our café for delightful coffee and cozy atmosphere!</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <label class="contacts__label" for="name">Monday - Friday</label>
        <p class="contacts__opening-hours">06:00 AM - 10:00 PM</p>
        <label class="contacts__label" for="name">Saturday - Sunday</label>
        <p class="contacts__opening-hours">08:00 AM - 16:00 PM</p>
      </fieldset>

      <fieldset class="contacts__fieldset">
        <ul>
          <li><a class="contacts__tel" href="tel:+61(0) 383 766 284">+61(0) 383 766 284</a></li>
          <li>
            <a class="contacts__mailto" href="mailto:noreply@envato.com">noreply@envato.com</a>
          </li>
        </ul>
      </fieldset>
    </form>
  </div>
  <div class="contacts__btn">
    <div>
      <button type="button" class="contacts__locations-btn">
        Our Locations
        <svg class="contacts__locations-icoL" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-right2"></use>
        </svg>
      </button>
    </div>
    <div>
      
      <button type="button" class="contacts__franchise-btn">
        Franchise
        <svg class="contacts__locations-icoR" width="12" height="12">
          <use href="./images/sprite.svg#icon-arrow-right2"></use>
        </svg>
      </button>
    </div>
  </div>
</div>
