<div class="slideshow-container">
  <!-- Full-width images with number and caption text -->
  <div class="mySlides fade">
    <img class="mySlides__pictures-personal" src="./images/reviews/testimonials1.png"
    srcset="
    ./images/reviews/testimonials1.png 85w, 
    ./images/reviews/testimonials1@2x.png 190w"
    sizes="(min-width: 1280px) 85px, (max-width: 1280px) 85px, 90vw"
    alt="foto">
    <svg class="mySlides__firstletter" width="54" height="40">
      <use href="./images/sprite.svg#icon-quotes"></use>
  </svg> 
    <p class="text">Every visit to this ice cream shop is a treat, thanks to their exceptional flavors and perfectly creamy texture. It’s the ideal spot for a delicious and refreshing indulgence.</p>
  
  <svg class="mySlides__dots" width="32" height="4">
    <use href="./images/sprite.svg#icon-Group-8"></use>
</svg>
<p class="mySlides__personal-name">Emily, Los Angeles</p>
</div>


  <div class="mySlides fade">
    <img class="mySlides__pictures-personal" src="./images/reviews/testimonials2.png"
    srcset="
    ./images/reviews/testimonials2.png 85w, 
    ./images/reviews/testimonials2@2x.png 190w"
    sizes="(min-width: 1280px) 85px, (max-width: 1280px) 85px, 90vw"
    alt="foto">
    <svg class="mySlides__firstletter" width="54" height="40">
      <use href="./images/sprite.svg#icon-quotes"></use>
  </svg> 
    <p class="text">This ice cream shop stands out with its amazing variety of flavors and consistently creamy texture. Each visit is a delightful experience, perfect for any ice cream enthusiast.</p>
  
  <svg class="mySlides__dots" width="32" height="4">
    <use href="./images/sprite.svg#icon-Group-8"></use>
</svg>
<p class="mySlides__personal-name">Ava, Chicago</p>
</div>


  <div class="mySlides fade">
    <img class="mySlides__pictures-personal" src="./images/reviews/testimonials3.png"
    srcset="
    ./images/reviews/testimonials3.png 85w, 
    ./images/reviews/testimonials3@2x.png 190w"
    sizes="(min-width: 1280px) 85px, (max-width: 1280px) 85px, 90vw"
    alt="foto">
    <svg class="mySlides__firstletter" width="54" height="40">
      <use href="./images/sprite.svg#icon-quotes"></use>
  </svg> 
    <p class="text">The gelato here is simply exceptional, with vibrant flavors and a smooth, rich texture. It's a top choice for anyone looking for a high-quality, delicious treat</p>
  
  <svg class="mySlides__dots" width="32" height="4">
    <use href="./images/sprite.svg#icon-Group-8"></use>
</svg>
<p class="mySlides__personal-name">Sophia, New York</p>
</div>


  <!-- Next and previous buttons -->
  <a class="prev" onclick="plusSlides(-1)"></a>
  <a class="next" onclick="plusSlides(1)"></a>
</div>
<br>

<!-- The dots/circles -->
<div style="text-align:center">
  <span class="dot" onclick="currentSlide(1)"></span>
  <span class="dot" onclick="currentSlide(2)"></span>
  <span class="dot" onclick="currentSlide(3)"></span>
</div>