<!-- start header , logo , button mobile and navigation links-->
<header class="header">
  <div class="container-wrapper">
  <div class="container">
    <a href="#" class="header__logo link">
      <svg class="header__logo-ico" width="199" height="50">
        <use href="./images/sprite.svg#icon-logo"></use>
      </svg>
    </a>
    <nav class="nav">
      <ul class="list nav__list">
        <li class="nav__item">
          <a href="" class="current link nav__link">Home</a>
        </li>

       
        <li class="nav__item">
          <a href="#advantages" class="nav__link">About us</a>
        </li>
        <li class="nav__item">
          <a href="#about" class="nav__link">How it’s made?</a>
        </li>
        <li class="nav__item">
          <a href="#products" class="nav__link">Our products</a>
        </li>
        <li class="nav__item">
          <a href="#contacts" class="nav__link">Contact</a>
        </li>
      </ul>
      <div class="header__wrap">
        <div class="nav__btn-container">
          <button type="button" class="nav__btn" data-modal-open>
            Buy now
            <svg class="nav__icon" width="10" height="10">
              <use href="./images/sprite.svg#icon-arrow-right2"></use>
            </svg>
          </button>
        </div>
        <button
          class="menu-toggle js-open-menu menu-open-btn"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="menu-icon" width="25" height="25">
            <use href="./images/sprite.svg#icon-burger"></use>
          </svg>
        </button>
        
      </div>
    </nav>
    
  </div>
 
</div>



  <section class="section hero">
    <div class="hero__box">
      <div class="hero__content">
        <h1 class="hero__title">
          ICE CREAM MADE WITH
          <span class="hero__title-main">PASSION</span>
        </h1>
        <ul class="hero-list">
          <li class="hero-list__item">
            <a href="#products">
            <button class="hero-list__linkbutton-1">Products</button></a>
          </li>
          <li class="hero-list__item">
            <a href="#about">
            <button class="hero-list__linkbutton-2">
              How it&#8242;s made&#63;
            </button></a>
          </li>
        </ul>
      </div>
        
        
    <div class="hero__milk"></div>
      <div class="hero__girl"></div>
      <div class="hero__information">
        <p>
          Our products use the freshest milk and BIO ingredients, ensuring top quality and taste. We prioritize excellence.
        </p>
        <button type="button" class="hero__bttn">
          <svg class="hero__bttn-arrow" width="26" height="26">
            <use href="./images/sprite.svg#icon-arrow2"></use>
          </svg>
        </button>
      </div>
      <div class="presentation-list">
        <div class="presentation-list__item">
          <div class="presentation-list__circle"></div>
          <span class="presentation-list__numbers">16</span>
          <p class="presentation-list__text">cafes</p>
        </div>
        <div class="presentation-list__item">
          <div class="presentation-list__circle"></div>
          <span class="presentation-list__numbers">23</span>
            <p class="presentation-list__text">food trucks</p>
        </div>
      </div>
    </div>
    
  </section>
  <div class="hero__ice-pic">
  <div class="hero__circle"></div>
    <div class="hero__pic"></div>
  </div>
</header>

<!-- end of header , logo , button mobile and navigation links-->
