<a name="products"></a>
<section class="products__section">
 
  <div class="products__container">
    <div class="products">
      <label class="products__label" for="products__title">100% NATURAL</label>
      <h2 class="products__title" id="products__title">PRODUCTS</h2>
      <ul class="products__list list">
        <li class="products__list-item products__list-item--pink">
          <div class="products__card">
            <h4 class="products__header products__header--pink">ICE CREAM</h4>
            <p class="products__text">
              Try our delicious ice cream – perfect any time! Creamy flavors, fresh ingredients, and a treat you'll love. Enjoy every scoop!.
            </p>
            <div class="products__icon">
              <a>
              <svg class="products__iconstyle">
                <use class="products__iconarrow"
            href="./images/sprite2.svg#icon-ARROWR" ></use>
        </svg></a>
            </div>
          </div>
        </li>
        <li class="products__list-item products__list-item--brown">
          <div class="products__card">
            <h4 class="products__header products__header--brown">ICE COFFEE</h4>
            <p class="products__text">
              Beat the heat with our delicious iced coffee – a perfect blend of bold flavors and refreshing chill. Savor every single sip!
            </p>
            <div class="products__icon">
              <a>
              <svg class="products__iconstyle">
                <use class="products__iconarrow"
            href="./images/sprite2.svg#icon-ARROWR" ></use>
        </svg></a>
            </div>
          </div>
        </li>
        <li class="products__list-item products__list-item--green">
          <div class="products__card">
            <h4 class="products__header products__header--green">MILKSHAKES</h4>
            <p class="products__text">
              Indulge in our creamy shakes – a perfect blend of rich flavors and smooth texture. Treat yourself to a delicious, refreshing delight!
            </p>
            <div class="products__icon">
              <a>
              <svg class="products__iconstyle">
                <use class="products__iconarrow"
            href="./images/sprite2.svg#icon-ARROWR" ></use>
        </svg></a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
